body{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	
}
.box{
	width: 100%;
	height: 100vh;
    background: skyblue;
}

.login-box{
	width: 300px;
	padding: 40px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color:#191919;
    border-radius:20px ;
    text-align: center;
}
.login-box h1{
	color: white;
	font-weight: 500;
	text-transform: uppercase;
}
.iptbox{
    color: white;
	width: 150px;
	display: block;
	border: 0;
	background: none;
	outline: none;
	padding:10px 20px;
	margin: 10px auto;
	border: 1px solid aquamarine;
	border-radius:10px ;
	text-align: center;
	transition: 0.5s;
}
.iptbox:focus{
	width: 280px;
	border-color: dodgerblue;
}
.login-box input[type="submit"]{
	border: 0;
	background: none;
	outline: none;

	border: 1px solid aquamarine;
	padding: 10px 40px;
	border-radius:10px ;
	color: white;
	cursor: pointer;
}
.login-box input[type="submit"]:hover{
	background: aquamarine;
}


